# Virtual environments
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Large data files
*.csv
*.parquet
*.db
*.dbf

# Jupyter
.ipynb_checkpoints/

# OS/system files
.DS_Store

venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.log
.DS_Store
