polars==1.31.0
pandas>=2.2.2,<3.0.0
numpy==2.3.0
pyarrow==20.0.0
pysus
tqdm
psutil==5.9.8
matplotlib==3.9.1
statsmodels==0.14.2
scikit-learn==1.5.1
python-dotenv==1.0.1
duckdb==1.4.4
requests>=2.31.0
dbt-duckdb
